.benefits{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.benefit{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.benefit .benefitsImage_container{
  width: 327px;
  height: 400px;
}

.benefit .benefitsImage_container .benefitImage{
  width: 100%;
  display: block;
  box-shadow: var(--image-shadow);
}

.benefit .curve_right, .benefit .curve_left_div, .benefit .lines{
  display: none;
}

.benefit .texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
}

.benefit .texts svg {
  margin-bottom: 1.5rem;
}

.benefit .texts h3{
  font-size: 2rem;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -.4px;
  color: var(--ebony-clay);
}

.benefit .texts p{
  width: 327px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: var(--ebony-clay);
}

.benefit:first-child{
  gap: 0;
}

.benefit:first-child .texts svg{
  margin-top: 0;
}

.benefit:first-child .benefitsImage_container{
  position: relative;
  top: -70px;
  z-index: 3;
}

.benefit:last-child{
  gap: 0;
  padding-bottom: 4rem;
}

.benefit:last-child .texts svg {
  margin-top: 70px;
}

@media(min-width: 768px){

  .benefits{
    gap: 8rem;
  }

  .benefit{
    position: relative;
  }

  .benefit .benefitsImage_container{
    width: 573px;
    height: 360px;
  }

  .benefit .curve_right{
    display: block;
    position: absolute;
    top: 24%;
    right: 51%;
    z-index: -1;
  }

  .benefit:last-child .benefitsImage_container{
    position: relative;
  }

  .benefit .curve_left_div{
    display: block;
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .benefit .curve_left_div .curve_left{
    width: 100%;
    object-fit: none;
    object-position: left;
  }

  .benefit .benefitsImage_container .lines{
    display: block;
    position: absolute;
    right: -10%;
    bottom: 17%;
  }

  .benefit, .texts{
    gap: 1.5rem;
  }

  .benefit .texts h3{
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -.5px;
  }

  .benefit .texts p{
    width: 457px;
    font-size: 1.25rem;
    line-height: 30px;
  }

  .benefit:first-child .benefitsImage_container{
    top: -90px;
  }

  .benefit:last-child{
    padding-bottom: 8rem;
  }

  .benefit:last-child .texts svg {
    margin-top: 90px;
  }
}

@media(min-width: 1200px){

  .benefits{
    gap: 0;
  }

  .benefit:first-child{
    flex-direction: row;
    gap: 4rem;
  }

  .benefit:last-child{
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 4rem;
  }

  .benefit:first-child .benefitsImage_container{
    top: -60px;
  }

  .benefit .curve_right{
    top: 43%;
    left: -5%;
  }

  .benefit:last-child .benefitsImage_container{
    bottom: calc(-8rem - 60px);
  }

  .benefit .curve_left_div{
    width: auto;
    right: 0;
  }

  .benefit .lines{
    right: -9%;
    top: 38%;
  }

  .benefit .benefitsImage_container{
    width: 440px;
    height: 586.6px;
  }

  .benefit .texts{
    align-items: flex-start;
    text-align: start;
  }

  .benefit .texts h3{
    font-size: 2.5rem;
  }

  .benefit .texts p{
    width: 457px;
    font-size: 1.1rem;
  }

  .benefit:last-child .texts{
    padding-bottom: 4rem;
  }
}

@media(min-width: 1440px){

  .benefit .benefitsImage_container{
    width: 540px;
    height: 720px;
  }
}
