.header{
  position: relative;
  width: 100%;
}

.food{
  display: block;
  width: 100%;
}

.headerContent{
  width: 100%;
  position: absolute;
  top: 30%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  z-index: 1;
}

.headerContent h1 > img{
  width: 82.4px;
  height: 32px;
}

.headerContent h2{
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -.4px;
  text-align: center;
}

.headerContent p{
  width: 87%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.book_dark_button{
  width: 245px;
  height: 64px;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.0625rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  transition: .3s;
  cursor: pointer;
}

.book_dark_button::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: var(--white);
  top: 0;
  left: 0;
  z-index: -1;
  transition: .3s;
}

.book_dark_button:hover::before{
  height: 100%;
}

.book_dark_button:hover{
  color: var(--cod-gray);
}

@media(min-width: 768px){
  .headerContent{
    top: 37%;
    gap: 2rem;
  }

  .headerContent h1 > img{
    width: 103px;
    height: 40px;
  }

  .headerContent h2{
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -.6px;
  }

  .headerContent p{
    width: 573px;
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
}

@media(min-width: 1440px){
  .headerContent{
    width: 507px;
    top: 10%;
    left: 10%;
    gap: 2rem;
    align-items: flex-start;
  }

  .headerContent h1 > img{
    width: 103px;
    height: 40px;
    margin-bottom: 95%;
  }

  .headerContent h2{
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: start;
  }

  .headerContent p{
    width: 445px;
    margin-bottom: 2rem;
    text-align: start;
  }
}
