.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headerPicture_container{
  width: 100%;
}

.headerPicture_container .headerImg{
  width: 100%;
  display: block;
}

.headerContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  padding: .8rem 0 10rem 0;
  background-color: var(--cod-gray);
  color: var(--white);
  z-index: 1;
}

.headerContent h1{
  margin-bottom: .4rem;
}

.headerContent h1 .logo{
  width: 82.4px;
  height: 32px;
}

.headerContent h2{
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -.4px;
  text-align: center;
}

.headerContent p{
  width: 327px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.book_dark_button{
  width: 245px;
  height: 64px;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1.0625rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  transition: .3s;
  cursor: pointer;
}

.book_dark_button::before{
  width: 100%;
  height: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: -1;
  transition: .3s;
}

.book_dark_button:hover::before{
  height: 100%;
}

.book_dark_button:hover{
  color: var(--cod-gray);
}

@media(min-width: 768px){
  .headerContent{
    gap: 2rem;
    padding: 0 0 14rem 0;
  }

  .headerContent h1 .logo{
    width: 103px;
    height: 40px;
  }

  .headerContent h2{
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -.6px;
  }

  .headerContent p{
    width: 573px;
    font-size: 1.25rem;
    line-height: 30px;
  }
}

@media(min-width: 1200px){
  .headerPicture_container{
    height: 720px;
  }

  .headerPicture_container .headerImg{
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .headerContent{
    width: 507px;
    align-items: flex-start;
    gap: 1.5rem;
    position: absolute;
    top: 7%;
    left: 5.5%;
    padding: 0;
    background-color: transparent;
  }

  .headerContent h1 .logo{
    margin-bottom: 60%;
  }

  .headerContent h2{
    font-size: 4rem;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: start;
  }

  .headerContent p{
    width: 445px;
    margin-bottom: 1.2rem;
    text-align: start;
  }
}

@media(min-width: 1440px){
  .headerPicture_container{
    height: 820px;
  }

  .headerContent h1 .logo{
    margin-bottom: 95%;
  }

  .headerContent h2{
    font-size: 5rem;
    line-height: 80px;
  }
}


