@keyframes fade_from_left{
  from{
    translate: -100%;
    opacity: .2;
  }

  to{
    translate: 0;
    opacity: 1;
  }
}

@keyframes fade_from_right{
  from{
    translate: 100%;
    opacity: .3;
  }

  to{
    translate: 0;
    opacity: 1;
  }
}

.fade_from_left{
  animation-name: fade_from_left;
  animation-duration: .5s;
}

.fade_from_right{
  animation-name: fade_from_right;
  animation-duration: .5s;
}

.slides{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  position: relative;
  padding: 5rem 0 8rem 0;
}

.image_div{
  width: 326px;
  height: 400px;
}

.image_div .slideImg{
  width: 100%;
  display: block;
  box-shadow: var(--image-shadow);
}

.slideInfo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.slideInfo_container .slidesOptions{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2.5px;
  list-style-type: none;
}

.slideInfo_container .slidesOptions .slideItem{
  color: var(--slideItem-color);
  opacity: .5;
  transition: .3s;
  cursor: pointer;
}

.slideInfo_container .slidesOptions .slideItem:hover{
  color: var(--slideItem-color);
  opacity: 1;
}

.slideInfo_container .slidesOptions .slideItem.activate{
  position: relative;
  opacity: 1;
}

.slideInfo_container .slidesOptions .slideItem.activate::after{
  width: 48px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  right: calc(50% - 24px);
  background: var(--beaver);
}

.slideInfo_container .slideInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  text-align: center;
}

.slideInfo_container .slideInfo h3{
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -.4px;
  color: var(--cod-gray);
}

.slideInfo_container .slideInfo p{
  width: 327px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  color: var(--cod-gray);
  margin-bottom: 1rem;
}

.slideInfo_container .slideInfo .book_light_button{
  width: 245px;
  height: 64px;
  position: relative;
  background: var(--cod-gray);
  border: 1px solid var(--cod-gray);
  color: var(--white);
  font-size: 1.0625rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  cursor: pointer;
  transition: .3s;
  z-index: 1;
}

.slideInfo_container .slideInfo .book_light_button::before{
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: var(--white);
  z-index: -1;
  transition: .3s;
}

.slideInfo_container .slideInfo .book_light_button:hover::before{
  height: 100%;
}

.slideInfo_container .slideInfo .book_light_button:hover{
  color: var(--cod-gray);
}

.slides .curve_right_slideSection, .image_div .lines_slideSection{
  display: none;
}

@media(min-width: 768px){

  .slides{
    padding: 7rem 0;
    gap: 2rem;
  }

  .slides .curve_right_slideSection{
    display: block;
    position: absolute;
    top: 0;
    right: 52%;
    z-index: -1;
  }

  .image_div{
    width: 573px;
    height: 360px;
    position: relative;
  }

  .image_div .lines_slideSection{
    display: block;
    position: absolute;
    top: -10%;
    left: -10%;
  }

  .slideInfo_container .slidesOptions{
    flex-direction: row;
    gap: 5.5rem;
    margin: 2rem 0 1rem 0;
  }

  .slideInfo_container .slidesOptions .slideItem.activate::after{
    bottom: -25%;
  }

  .slideInfo_container .slideInfo{
    gap: 1rem;
  }

  .slideInfo_container .slideInfo h3{
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -.5px;
  }

  .slideInfo_container .slideInfo p{
    width: 457px;
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 2.5rem;
  }
}

@media(min-width: 1200px){
  .slides{
    flex-direction: row;
    padding: 8rem 0;
    gap: 7.5rem;
  }

  .image_div{
    width: 500px;
    height: 555.5px;
  }

  .image_div .lines_slideSection{
    top: -5%;
    left: -8%;
  }

  .slides .curve_right_slideSection{
    top: 0;
    left: -38%;
  }

  .slideInfo_container{
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;
  }

  .slideInfo_container .slidesOptions{
    flex-direction: column;
    gap: .8rem;
    text-align: start;
    margin: 2rem 0 1rem 0;
  }

  .slideInfo_container .slidesOptions .slideItem.activate::after{
    width: 95px;
    bottom: 50%;
    left: -7.5rem;
  }

  .slideInfo_container .slideInfo {

    flex-direction: column;
    align-items: flex-start;
    gap: .8rem;
  }

  .slideInfo_container .slideInfo h3{
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -.5px;
    text-align: start;
  }

  .slideInfo_container .slideInfo p{
    width: 445px;
    height: 120px;
    font-size: 1.25rem;
    line-height: 30px;
    margin-bottom: 2.2rem;
    text-align: start;
  }
}

@media(min-width: 1440px){

  .slides .curve_right_slideSection{
    left: -25%;
  }

  .image_div{
    width: 540px;
    height: 600px;
  }
}


