<header class="header">
  <div class="headerPicture_container" >
    <picture>
      <source media="(max-width: 767px)" srcset="../../../assets/images/booking/hero-bg-mobile@2x.jpg">
      <source media="(max-width: 1199px)" srcset="../../../assets/images/booking/hero-bg-tablet@2x.jpg">
      <source media="(min-width: 1200px)" srcset="../../../assets/images/booking/hero-bg-desktop@2x.jpg">
      <img class="headerImg" alt="" src="../../../assets/images/booking/hero-bg-mobile@2x.jpg">
    </picture>
  </div>
  <article class="headerContent">
    <h1 routerLink=""><img class="logo" src="../../../assets/images/logo.svg" alt="logo"></h1>
    <div class="headerTexts">
      <h2>
        Reservations
      </h2>
      <p>
        We can’t wait to host you. If you have any special requirements please feel free to call on the phone number below. We’ll be happy to accommodate you.
      </p>
    </div>
  </article>
</header>
<main class="main">
  <form *ngIf="!formSubmitted" id="form" class="form" (ngSubmit)="reservationForm.valid ? onSubmit() : isValid()" [ngClass]="{'emptyFilds': isFormValid ? true : false}" [formGroup]="reservationForm" >

    <div class="nameInput_container">
      <input type="text" class="nameInput" placeholder="Name" formControlName="name">
      <span class="span_error" *ngIf="!reservationForm.get('name')?.valid && reservationForm.get('name')?.touched">This field is required</span>
    </div>

    <div class="emailInput_container">
      <input type="email" class="emailInput" placeholder="Email" formControlName="email">
      <span class="span_error" *ngIf="reservationForm.get('email')?.errors?.['required'] && reservationForm.get('email')?.touched">This field is required</span>
      <span class="span_error" *ngIf="!reservationForm.get('email')?.valid && !reservationForm.get('email')?.errors?.['required'] && reservationForm.get('email')?.touched">Email is not valid</span>
    </div>


    <div class="date_container" formGroupName="fullDate">
      <div>
        <label>Pick a date</label>

        <span class="span_error" *ngIf="(reservationForm.get('fullDate.month')?.errors?.['required'] || reservationForm.get('fullDate.date')?.errors?.['required'] || reservationForm.get('fullDate.year')?.errors?.['required']) && (reservationForm.get('fullDate.month')?.touched || reservationForm.get('fullDate.date')?.touched || reservationForm.get('fullDate.year')?.touched )">This field is incomplete</span>
        <span class="span_error" *ngIf="reservationForm.get('fullDate')?.errors?.['validDate'] && !reservationForm.get('fullDate.month')?.errors?.['required'] && !reservationForm.get('fullDate.date')?.errors?.['required'] && !reservationForm.get('fullDate.year')?.errors?.['required']">This date is not valid</span>
      </div>

      <div class="date_div">
        <input type="number" class="monthInput" formControlName="month" placeholder="MM" min="1" max="12">
        <input type="number" class="dateInput" formControlName="date" placeholder="DD" min="1" max="31">
        <input type="number" class="yearInput" formControlName="year" placeholder="YYYY" [min]="thisYear" [max]="thisYear+2">
      </div>
    </div>

    <div class="time_container" formGroupName="time">
      <div>
        <label>Pick a time</label>
        <span class="span_error" *ngIf="(reservationForm.get('time.hour')?.errors?.['required'] || reservationForm.get('time.minute')?.errors?.['required']) && (reservationForm.get('time.hour')?.touched || reservationForm.get('time.minuteInput')?.touched)">This field is incomplete</span>
        <span class="span_error" *ngIf="(!reservationForm.get('time.hour')?.errors?.['required'] && !reservationForm.get('time.minute')?.errors?.['required']) && reservationForm.get('time')?.errors?.['validTime']">This time is not valid</span>
      </div>

      <div class="time_div">

        <input type="number" class="hourInput" formControlName="hour" placeholder="09">

        <input type="number" class="minuteInput" formControlName="minute" placeholder="00">

        <div class="shifts_div" #shifts_div (click)="openShiftsDiv()">

          <span class="shiftPicked">
            <input type="text" class="shiftInput" value="{{shiftPicked}}" formControlName="shift" readonly>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="11"><path fill="none" stroke="#9E7F66" stroke-width="2" d="M1 1l8 8 8-8"/></svg>
          </span>

          <ul class="shiftsOptions" #shiftsOptions>
            <li class="activate" (click)="switchShifts($event)">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11"><path fill="none" stroke="#9E7F66" stroke-width="2" d="M1 5.897l2.767 2.767L11.432 1"/></svg>
              </span>
              AM
            </li>
            <li (click)="switchShifts($event)">
              <span></span>
              PM
            </li>
          </ul>

        </div>

      </div>
    </div>

    <div class="people_div">
      <button type="button" (click)="decreaseNumberOfPeople()" [disabled]="people <= 1">
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="3"><path fill="#9E7F66" d="M6.425 2.977V.601H.629v2.376z"/></svg>
      </button>

      <div class="peopleInfo">
        <input type="number" class="numberOfPeople" formControlName="people" [value]="people" readonly>
        <span class="peopleText" [textContent]="people === 1 ? 'person' : 'people'"></span>
      </div>

      <button type="button" (click)="increaseNumberOfPeople()">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="11"><path fill="#9E7F66" d="M6.227 10.156V6.727h3.429V4.342H6.227V.913H3.842v3.429H.413v2.385h3.429v3.429z"/></svg>
      </button>
    </div>

    <div>
      <button type="submit"  class="submitForm_button">MAKE RESERVATION</button>

      <span class="empty_form_message" *ngIf="isFormValid">All the fields are required</span>
    </div>

    <svg class="lines_form" xmlns="http://www.w3.org/2000/svg" width="160" height="76"><g fill="#9E7F66" fill-rule="evenodd"><path d="M0 70h160v6H0zM0 56h160v6H0zM0 42h160v6H0zM0 28h160v6H0zM0 14h160v6H0zM0 0h160v6H0z"/></g></svg>
  </form>
  <svg class="curve_left_form" xmlns="http://www.w3.org/2000/svg" width="993" height="320"><path fill="#5C6779" fill-rule="evenodd" d="M893 320H0V0h993v220c0 55.228-44.772 100-100 100z" opacity=".077"/></svg>

  <section class="thankYou" *ngIf="formSubmitted">
    <div>
      Thank you for choosing us, <b>{{reservationInformation.name}}</b>! <br> Your reservation for <b>{{reservationInformation.numberOfPeople}} {{+reservationInformation.numberOfPeople > 1 ? 'people' : 'person'}}</b> on <b>{{reservationInformation.date}}</b> at <b>{{reservationInformation.time}}</b> is confirmed!
    </div>
    <button [routerLink]="['']">Go back to home page</button>
  </section>
</main>
