<header class="header">
  <div class="headerPicture_container">
    <picture>
      <source media="(max-width: 767px)" srcset="../../../assets/images/booking/hero-bg-mobile@2x.jpg">
      <source media="(max-width: 1199px)" srcset="../../../assets/images/booking/hero-bg-tablet@2x.jpg">
      <source media="(min-width: 1200px)" srcset="../../../assets/images/booking/hero-bg-desktop@2x.jpg">
      <img class="headerImg" alt="" src="../../../assets/images/booking/hero-bg-mobile@2x.jpg">
    </picture>
  </div>
  <article class="headerContent">
    <h1 routerLink=""><img class="logo" src="../../../assets/images/logo.svg" alt="logo"></h1>
    <div class="headerTexts">
      <h2>
        Reservations
      </h2>
      <p>
        We can’t wait to host you. If you have any special requirements please feel free to call on the phone number below. We’ll be happy to accommodate you.
      </p>
      <button class="reserve_button">
        RESERVE PLACE
    </button>
    </div>
  </article>
</header>
<main style="padding: 4rem;">
  <form class="form">

    <div class="name_div">
      <input type="text" placeholder="Name">
    </div>

    <div class="email_div">
      <input type="email" name="" id="email" placeholder="Email">
    </div>

    <div class="date_div">
      <label for="">Pick a date</label>
      <div>
        <input type="number" name="" placeholder="MM">
        <input type="number" name="" placeholder="DD">
        <input type="number" name="" placeholder="YYYY" [min]="thisYear">
      </div>
    </div>

    <div class="time_div">
      <label for="">Pick a time</label>
      <div>
        <input type="number" name="hour" id="" placeholder="09">
        <input type="number" name="" id="" placeholder="00">
        <select name="" id="">
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>
    </div>

  </form>
</main>
