<header class="header">
  <div class="headerPicture_container">
    <picture>
      <source media="(max-width: 767px)" srcset="../../../assets/images/booking/hero-bg-mobile@2x.jpg">
      <source media="(max-width: 1199px)" srcset="../../../assets/images/booking/hero-bg-tablet@2x.jpg">
      <source media="(min-width: 1200px)" srcset="../../../assets/images/booking/hero-bg-desktop@2x.jpg">
      <img class="headerImg" alt="" src="../../../assets/images/booking/hero-bg-mobile@2x.jpg">
    </picture>
  </div>
  <article class="headerContent">
    <h1><img class="logo" src="../../../assets/images/logo.svg" alt="logo"></h1>
    <div class="headerTexts">
      <h2>
        Reservations
      </h2>
      <p>
        We can’t wait to host you. If you have any special requirements please feel free to call on the phone number below. We’ll be happy to accommodate you.
      </p>
      <button class="reserve_button">
        RESERVE PLACE
    </button>
    </div>
  </article>
</header>
