.headerPicture_container{
  width: 100%;
  position: relative;
}

.headerPicture_container .headerImg{
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.headerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: var(--white);
}

.headerContent .logo{
  width: 82px;
  height: 32px;
  margin-top: 3.5rem;
  cursor: pointer;
}

.headerContent .headerTexts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.headerContent .headerTexts h2{
  font-size: 2rem;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -.4px;
}

.headerContent .headerTexts p{
  width: 327px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.headerContent .reserve_button{
  width: 245px;
  height: 64px;
  position: relative;
  font-size: 1.0625rem;
  font-weight: 600;
  border: 1px solid var(--white);
  background: transparent;
  color: var(--white);
  cursor: pointer;
  transition: .3s;
}

.headerContent .reserve_button::before{
  content: "";
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .3s;
}

.headerContent .reserve_button:hover{
  color: var(--cod-gray);
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerContent .reserve_button:hover::before{
  height: 100%;
}

.form{
  position: relative;
  top: -130px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  padding: 2.2rem 0;
  background-color: var(--white);
  box-shadow: 0px 80px 70px -25px rgba(41, 41, 41, 0.3);
}

.form .nameInput,
.form .emailInput{
  width: 263px;
  box-sizing: border-box;
  font-size: 1.25rem;
  padding-bottom: .8rem;
  padding-left: .8rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #8E8E8E;
  color: var(--cod-gray);
}

.form .date_container,
.form .time_container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .date_container label,
.form .time_container label{
  font-size: 1.25rem;
  font-weight: 400;
}

.form .date_container .date_div,
.form .time_container .time_div{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 263px;
}

.form .date_container .date_div .monthInput,
.form .date_container .date_div .dayInput,
.form .time_container .time_div .hourInput,
.form .time_container .time_div .minuteInput,
.form .date_container .date_div .yearInput{
  box-sizing: border-box;
  width: 73px;
  height: 43px;
  font-size: 1.25rem;
  padding-bottom: .9rem;
  padding-left: .9rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #8E8E8E;
}

.form .date_container .date_div .yearInput{
  width: 88px;
}

.form .date_container .date_div input::placeholder,
.form .time_container .time_div input::placeholder{
  font-size: 1.25rem;
  color: #8E8E8E;
}

.form .time_container .time_div .shifts_div{
  width: 88px;
  position: relative;
  border-bottom: 1px solid #8E8E8E;
  cursor: pointer;
}

.form .time_container .time_div .shifts_div .shiftPicked{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  font-size: 1.25rem;
  left: .9rem;
  top: .2rem;
}

.form .time_container .time_div .shifts_div .shiftPicked svg{
  transition: .1s;
}

.form .time_container .time_div .shifts_div.open .shiftPicked svg{
  rotate: 180deg;
}

.form .time_container .time_div .shifts_div .shiftsOptions{
  width: 106px;
  height: 103px;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--white);
  padding: 1.2rem 0;
  box-shadow: 0 2px 30px -1px rgb(77, 77, 77, 0.2);
  visibility: hidden;
  transition: .1s;
}

.form .time_container .time_div .shifts_div.open .shiftsOptions{
  visibility: visible;

}

.form .time_container .time_div .shifts_div .shiftsOptions li {
  width: 100%;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  position: relative;
}

.form .time_container .time_div .shifts_div .shiftsOptions li span{
  position: absolute;
  pointer-events: none;
  left: 15px;
}

.form .people_div{
  width: 263px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8E8E8E;
}

.form .people_div .peopleInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  margin: 0 4.5rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -.25px;
}

.form .people_div .peopleInfo span{
  font-size: 1.25rem;
}

.form .people_div button{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.form .submitForm_button{
  width: 263px;
  height: 64px;
  position: relative;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2.5px;
  border: none;
  background-color: var(--cod-gray);
  color: var(--white);
  transition: .3s;
  cursor: pointer;
  z-index: 1;
}

.form .submitForm_button::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform:scaleX(0);
  background-color: var(--white);
  transition: .3s;
  z-index: -1;
}

.form .submitForm_button:hover::before{
  transform:scaleX(1);
}

.form .submitForm_button:hover{
  color: var(--cod-gray);
  box-shadow: 0 2px 20px 0 rgb(77, 77, 77, 0.2);
}

.curve_left_form,
.lines_form{
  display: none;
}

@media(min-width: 768px){

  .headerContent .logo{
    width: 103px;
    height: 40px;
    position: absolute;
    top: 15%;
    left: 5%;
    margin-top: 0rem;
  }

  .headerContent .headerTexts{
    margin-top: 7rem;
  }

  .headerContent .headerTexts h2{
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -.6px;
  }

  .headerContent .headerTexts p{
    width: 573px;
    font-size: 1.25rem;
    line-height: 30px;
  }

  .headerContent .reserve_button{
    display: none;
  }

  .main{
    height: 420px;
  }

  .form{
    width: 540px;
    height: 545px;
    gap: 2.5rem;
    top: -165px;
    padding: 0;
  }

  .form .nameInput,
  .form .emailInput,
  .form .people_div,
  .form .submitForm_button{
    width: 444px;
  }

  .form .date_container,
  .form .time_container{
    width: 444px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form .date_container .date_div,
  .form .time_container .time_div{
    width: auto;
    gap: 1rem;
  }

  .form .date_container .date_div .monthInput,
  .form .date_container .date_div .dayInput,
  .form .date_container .date_div .yearInput,
  .form .time_container .time_div .hourInput,
  .form .time_container .time_div .minuteInput{
    width: 80px;
  }

  .form .date_container .date_div .yearInput,
  .form .time_container .time_div .shifts_div{
    width: 97px;
  }

  .form .people_div .peopleInfo{
    margin: 0 9rem;
  }
}

@media(min-width: 1200px){

  .headerContent .logo{
    position: initial;
  }

  .headerContent{
    align-items: flex-start;
    gap: 8rem;
    margin-top: 4rem;
    margin-left: 7rem;
  }

  .headerContent .headerTexts{
    margin-top: 0;
    align-items: flex-start;
  }

  .headerContent .headerTexts h2{
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: start;
  }

  .headerContent .headerTexts p{
    width: 445px;
    text-align: start;
  }

  .main{
    height: 320px;
    position: relative;
  }

  .form{
    width: 540px;
    height: 560px;
    gap: 2.6rem;
    top: -240px;
    right: -280px;
  }

  .curve_left_form{
    display: block;
    position: absolute;
    z-index: -1;
    left: -10%;
  }

  .lines_form{
    display: block;
    position: absolute;
    bottom: -5%;
    left: -15%;
    z-index: -1;
  }
}

