<header class="header">
  <div class="headerPicture_container">
    <picture>
      <source media="(max-width: 767px)" srcset="../../../assets/images/homepage/hero-bg-mobile@2x.svg">
      <source media="(max-width: 1199px)" srcset="../../../assets/images/homepage/hero-bg-tablet@2x.svg">
      <source media="(min-width: 1200px)" srcset="../../../assets/images/homepage/hero-bg-desktop@2x.svg">
      <img class="headerImg" alt="" src="../../../assets/images/homepage/hero-bg-mobile@2x.svg">
    </picture>
  </div>
  <article class="headerContent">
    <h1><img class="logo" src="../../../assets/images/logo.svg" alt="logo"></h1>
    <h2>
      Exquisite dining <br>
      since 1989
    </h2>
    <p>
      Experience our seasonal menu in beautiful country surroundings. Eat the freshest produce from the comfort of our farmhouse.
    </p>
    <button class="book_dark_button test" routerLink = "/booking">
      BOOK A TABLE
    </button>
  </article>
</header>

<main class="main">

  <section class="benefits">
    <article class="benefit">
      <div class="benefitsImage_container">
        <picture>
          <source media="(max-width: 767px)" srcset="../../../assets/images/homepage/enjoyable-place-mobile@2x.jpg">
          <source media="(max-width: 1199px)" srcset="../../../assets/images/homepage/enjoyable-place-tablet@2x.jpg">
          <source media="(min-width: 1200px)" srcset="../../../assets/images/homepage/enjoyable-place-desktop@2x.jpg">
          <img src="../../../assets/images/homepage/enjoyable-place-mobile@2x.jpg" alt="Enjoyable place" class="benefitImage">
        </picture>
      </div>
      <svg class="curve_right" xmlns="http://www.w3.org/2000/svg" width="895" height="320"><path fill="#5C6779" fill-rule="evenodd" d="M795 0H0v320h895V100C895 44.772 850.228 0 795 0z" opacity=".077"/></svg>
      <div class="texts">
        <svg xmlns="http://www.w3.org/2000/svg" width="71" height="7"><g fill="none" fill-rule="evenodd"><path fill="#9E7F66" d="M15 3h56v1H15z"/><circle cx="3.5" cy="3.5" r="3" stroke="#9E7F66"/></g></svg>
        <h3>Enjoyable place <br> for all the family</h3>
        <p>Our relaxed surroundings make dining with us a great experience for everyone. We can even arrange a tour of the farm before your meal.</p>
      </div>
    </article>
    <article class="benefit">
      <div class="benefitsImage_container">
        <picture>
          <source media="(max-width: 767px)" srcset="../../../assets/images/homepage/locally-sourced-mobile@2x.jpg">
          <source media="(max-width: 1199px)" srcset="../../../assets/images/homepage/locally-sourced-tablet@2x.jpg">
          <source media="(min-width: 1200px)" srcset="../../../assets/images/homepage/locally-sourced-desktop@2x.jpg">
          <img src="../../../assets/images/homepage/locally-sourced-mobile@2x.jpg" alt="" class="benefitImage">
        </picture>
        <svg class="lines" xmlns="http://www.w3.org/2000/svg" width="160" height="76"><g fill="#9E7F66" fill-rule="evenodd"><path d="M0 70h160v6H0zM0 56h160v6H0zM0 42h160v6H0zM0 28h160v6H0zM0 14h160v6H0zM0 0h160v6H0z"/></g></svg>
      </div>
      <div class="curve_left_div">
        <svg class="curve_left" xmlns="http://www.w3.org/2000/svg" width="895" height="320"><path fill="#5C6779" fill-rule="evenodd" d="M100 0h795v320H0V100C0 44.772 44.772 0 100 0z" opacity=".077"/></svg>
      </div>
      <div class="texts">
        <svg xmlns="http://www.w3.org/2000/svg" width="71" height="7"><g fill="none" fill-rule="evenodd"><path fill="#9E7F66" d="M15 3h56v1H15z"/><circle cx="3.5" cy="3.5" r="3" stroke="#9E7F66"/></g></svg>
        <h3>The most locally <br> sourced food</h3>
        <p>All our ingredients come directly from our farm or local fishery. So you can be sure that you’re eating the freshest, most sustainable food.</p>
      </div>
    </article>
  </section>

  <section class="highlights">
    <article class="highlightsExplanation">
      <svg xmlns="http://www.w3.org/2000/svg" width="71" height="7"><g fill="none" fill-rule="evenodd"><path fill="#9E7F66" d="M15 3h56v1H15z"/><circle cx="3.5" cy="3.5" r="3" stroke="#9E7F66"/></g></svg>
      <h3>A few highlights from <br> our menu</h3>
      <p>We cater for all dietary requirements, but here’s a glimpse at some of our diner’s favourites. Our menu is revamped every season.</p>
    </article>
    <ul class="highlightsList">
      <li>
        <div class="highlightImg_div">
          <picture>
            <source media="(max-width: 767px)" srcset="../../../assets/images/homepage/salmon-mobile@2x.jpg">
            <source media="(min-width: 768px)" srcset="../../../assets/images/homepage/salmon-desktop-tablet@2x.jpg">
            <img src="../../../assets/images/homepage/salmon-mobile@2x.jpg" alt="" class="highlightFood">
          </picture>
        </div>
        <article class="highlightInfo">
          <h4>Seared Salmon Fillet</h4>
          <p>Our locally sourced salmon served with a refreshing buckwheat summer salad.</p>
        </article>
      </li>
      <li>
        <div class="highlightImg_div">
          <picture>
            <source media="(max-width: 767px)" srcset="../../../assets/images/homepage/beef-mobile@2x.jpg">
            <source media="(min-width: 768px)" srcset="../../../assets/images/homepage/beef-desktop-tablet@2x.jpg">
            <img src="../../../assets/images/homepage/beef-mobile@2x.jpg" alt="" class="highlightFood">
          </picture>
        </div>
        <article class="highlightInfo">
          <h4>Rosemary Filet Mignon</h4>
          <p>Our prime beef served to your taste with a delicious choice of seasonal sides.</p>
        </article>
      </li>
      <li>
        <div class="highlightImg_div">
          <picture>
            <source media="(max-width: 767px)" srcset="../../../assets/images/homepage/chocolate-mobile@2x.jpg">
            <source media="(min-width: 768px)" srcset="../../../assets/images/homepage/chocolate-desktop-tablet@2x.jpg">
            <img src="../../../assets/images/homepage/chocolate-mobile@2x.jpg" alt="" class="highlightFood">
          </picture>
        </div>
        <article class="highlightInfo">
          <h4>Summer Fruit Chocolate Mousse</h4>
          <p>Creamy mousse combined with summer fruits and dark chocolate shavings.</p>
        </article>
      </li>
    </ul>
  </section>

  <section class="slides">
    <div class="image_div" #slideImgDiv>
      <picture>
        <source #mobileImg media="(max-width: 767px)" srcset="../../../assets/images/homepage/family-gathering-mobile@2x.jpg">
        <source #tabletImg media="(max-width: 1199px)" srcset="../../../assets/images/homepage/family-gathering-tablet@2x.jpg">
        <source #desktopImg media="(min-width: 1200px)" srcset="../../../assets/images/homepage/family-gathering-desktop@2x.jpg">
        <img src="../../../assets/images/homepage/family-gathering-mobile@2x.jpg" alt="" class="slideImg" #slideImg>
      </picture>
      <svg class="lines_slideSection" xmlns="http://www.w3.org/2000/svg" width="160" height="76"><g fill="#9E7F66" fill-rule="evenodd"><path d="M0 70h160v6H0zM0 56h160v6H0zM0 42h160v6H0zM0 28h160v6H0zM0 14h160v6H0zM0 0h160v6H0z"/></g></svg>
    </div>
    <article class="slideInfo_container">
      <ul class="slidesOptions" #slideOptions>
        <li class="slideItem activate" (click)="changeSlide('family', $event)">FAMILY GATHERING</li>
        <li class="slideItem" (click)="changeSlide('special', $event)">SPECIAL EVENTS</li>
        <li class="slideItem" (click)="changeSlide('social', $event)">SOCIAL EVENTS</li>
      </ul>
      <div class="slideInfo">
        <h3 #slideTitle>Family Gathering</h3>
        <p #slideDescription>We love catering for entire families. So please bring everyone along for a special meal with your loved ones. We’ll provide a memorable experience for all.</p>
        <button class="book_light_button" routerLink="/booking">BOOK A TABLE</button>
      </div>
    </article>
    <svg class="curve_right_slideSection" xmlns="http://www.w3.org/2000/svg" width="895" height="320"><path fill="#5C6779" fill-rule="evenodd" d="M795 0H0v320h895V100C895 44.772 850.228 0 795 0z" opacity=".077"/></svg>
  </section>

  <section class="reservation">
    <div class="imageContainer">
      <picture>
        <source media="(max-width:767px)" srcset="../../../assets/images/homepage/ready-bg-mobile@2x.jpg">
        <source media="(max-width:1199px)" srcset="../../../assets/images/homepage/ready-bg-tablet.jpg">
        <source media="(min-width:1200px)" srcset="../../../assets/images/homepage/ready-bg-desktop@2x.jpg">
        <img src="../../../assets/images/homepage/ready-bg-mobile@2x.jpg" alt="" class="reservationImage">
      </picture>
    </div>
    <article>
      <h3>Ready to make a reservation?</h3>
      <button class="book_dark_button" routerLink="/booking">BOOK A TABLE</button>
    </article>
  </section>
</main>
